$input--border: rgba(68, 68, 68, 0.192);
$font-black: #222;
$font-black-clr: #333;
$font-black-clr-1: #444;
$nav-link--clr: #878787;
$nav-icons-bg-clr: #cfcdcd;
$nav--icons-hover: #fceec0;
$text--hover: rgb(216, 84, 35);
$horizontal-clr: rgb(83, 81, 81);
$filter--border-top: #dddada;
$filter--box-border: rgb(112, 112, 112);
$product--border: rgba(68, 68, 68, 0.158);
$product--shadow: rgba(0, 0, 0, 0.5);
$product--rate-clr: #eee;
$product--rate-bg-clr: #267e3e;
$desc--cont-clr: #696969;
$product--order-clr: #828282;
$total-icon-color: #fff;
$total-icon-bg-clr: #717ebe;
$footer--bg-clr: #f8f8f8;
$footer-country-border: rgba(17, 17, 17, 0.322);
$copyright--border-top: rgba(51, 51, 51, 0.199);
