$font: sans-serif;

$font--light-pink: #fe9a9a;
$white--clr: #fff;
$white-clr: #eee;
$app-bgr-clr: #fffbf7;
$black--clr: #222;
$font--black-clr: #333;
$font--black-1: #444;
$black--light-clr: #555;
$black--light1-clr: #666;
$border--box: rgba(77, 76, 76, 0.5);
$collection--img-shadow: rgba(245, 246, 250, 0.1);
$collection--img-shadow2: rgba(7, 7, 20, 0.8);
$popular-place-border: rgba(51, 51, 51, 0.24);
$explore--border: rgba(17, 14, 14, 0.2);
$pink--bg-clr: #ef4f5f;
$footer--bgr-clr: #f8f8f8;
$footer--border-country: rgba(17, 17, 17, 0.322);
$copyright--border-top: rgba(51, 51, 51, 0.199);
$app-email: rgba(51, 51, 51, 0.268);
