$input--box-border: rgba(68, 68, 68, 0.192);
$nav--link-clr: #878787;
$anc--clr-black: #333;
$anc--clr-orange: rgb(216, 84, 35);
$nav--icon-clr: #444;
$nav--bgr-clr: #cfcdcd;
$nav--bgr-hover: #fceec0;
$hor--clr: rgb(83, 81, 81);
$filter-border-top: #dddada;
$filter--box-border: rgb(112, 112, 112);
$prod--box-border: rgba(68, 68, 68, 0.158);
$prod--box-shadow: rgba(0, 0, 0, 0.5);
$font--clr-black: #222;
$white--clr: #eee;
$rating-bg-clr: #267e3e;
$desc--font: #696969;
$order--font-black: #828282;
$footer--bg-clr: #f8f8f8;
$footer--border: rgba(17, 17, 17, 0.322);
$copyright--border: rgba(51, 51, 51, 0.199);